**/.git
**/.svn
**/.hg
*.json
*.md
*.yml
Dockerfile

node_modules/*
dist

// config files
.commitlintrc.json
app.json
.eslintrc.json
.huskyrc.json
.lintstagedrc
prettier.config.js
babel.config.js
metro.config.js
.vscode/settings.json
package-lock.json
package.json
tsconfig.json